@font-face {
  font-family: "iconfont"; /* Project id 3570566 */
  src: url('iconfont.woff2?t=1659694464390') format('woff2'),
       url('iconfont.woff?t=1659694464390') format('woff'),
       url('iconfont.ttf?t=1659694464390') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuzhuangtu:before {
  content: "\e600";
}

.icon-tupian:before {
  content: "\e695";
}

.icon-houtui:before {
  content: "\e604";
}

.icon-qianjin:before {
  content: "\e605";
}

.icon-user:before {
  content: "\e601";
}

.icon-search:before {
  content: "\e602";
}

.icon-shezhi:before {
  content: "\e615";
}

.icon-wangjimima:before {
  content: "\e67d";
}

.icon-changyonggoupiaorenbianji:before {
  content: "\e645";
}

.icon-tubiao-bingtu:before {
  content: "\eb95";
}

.icon-riqi:before {
  content: "\e616";
}

.icon-My:before {
  content: "\e617";
}

.icon-shoujihao:before {
  content: "\e62b";
}

.icon-qingchu:before {
  content: "\e603";
}

.icon-dingwei:before {
  content: "\e8ae";
}

.icon-shouye:before {
  content: "\e8b9";
}

.icon-mima:before {
  content: "\e618";
}

.icon-time:before {
  content: "\e680";
}

.icon-daochu1024-26:before {
  content: "\e619";
}

.icon-daochu1024-27:before {
  content: "\e61a";
}

.icon-daochu1024-28:before {
  content: "\e61b";
}

.icon-tuichudenglu:before {
  content: "\e613";
}

